<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="deleteAllMarathon">
DELETE FROM MARATHON_INFO
</entry>
<entry key="insertMarathon">
INSERT INTO MARATHON_INFO(MARATHON_NO
					,MARATHON_NAME
					,LOCATION
					,REGION
					,MARATHON_DATE
					,APPLICATION_DATE
					,OTHER_INTRODUCTION
					,ORGANIZER
					,ORGANIZER_HOST
					,ORGANIZER_PHONE
					,MARATHON_SITE
					,IMAGE_NO
					,MARATHON_COURSE)
VALUES(SEQ_MIF.NEXTVAL,?,?,?,?,?,?,?,?,?,?,?,?)
</entry>
<entry key="selectMarathon">
SELECT  MARATHON_NO
		,MARATHON_NAME
		,LOCATION
		,REGION
		,MARATHON_DATE
		,MARATHON_SITE
		,ORGANIZER
		,OTHER_INTRODUCTION
		,IMAGE_NO
FROM MARATHON_INFO
WHERE STATUS='Y'
ORDER BY MARATHON_NO
</entry>
<entry key="marathonDetail">
SELECT  MARATHON_NO
		,MARATHON_NAME
		,LOCATION
		,REGION
		,MARATHON_DATE
		,APPLICATION_DATE
		,OTHER_INTRODUCTION
		,ORGANIZER
		,ORGANIZER_HOST
		,ORGANIZER_PHONE
		,MARATHON_SITE
		,STATUS
		,IMAGE_NO
		,MARATHON_COURSE
FROM MARATHON_INFO
WHERE MARATHON_NO=?
</entry>
<entry key="updateMarathon">
UPDATE MARATHON_INFO
SET MARATHON_NAME = ?
    ,LOCATION = ?
    ,REGION = ?
    ,MARATHON_COURSE = ?
    ,MARATHON_DATE = ?
    ,APPLICATION_DATE = ?
    ,OTHER_INTRODUCTION = ?
    ,ORGANIZER = ?
    ,ORGANIZER_HOST = ?
    ,ORGANIZER_PHONE = ?
    ,MARATHON_SITE = ?
WHERE MARATHON_NO = ?
AND STATUS = 'Y'
</entry>
<entry key="deleteMarathon">
UPDATE MARATHON_INFO
SET STATUS = 'N'
WHERE MARATHON_NO = ?
</entry>
<entry key="restoreMarathon">
UPDATE MARATHON_INFO
SET STATUS = 'Y'
WHERE MARATHON_NO = ?
</entry>
<entry key="selectDeleteMarathon">
SELECT  MARATHON_NO
		,MARATHON_NAME
		,LOCATION
		,REGION
		,MARATHON_DATE
		,MARATHON_SITE
		,ORGANIZER
		,OTHER_INTRODUCTION
FROM MARATHON_INFO
WHERE STATUS='N'
ORDER BY MARATHON_NO
</entry>
<entry key="selectMarathonRegionName">
SELECT REGION
FROM MARATHON_INFO
WHERE MARATHON_NO = ?
</entry>
<entry key="selectSearch">
SELECT  MARATHON_NO
		,MARATHON_NAME
		,LOCATION
		,REGION
		,MARATHON_DATE
		,MARATHON_SITE
		,ORGANIZER
		,OTHER_INTRODUCTION
		,IMAGE_NO
FROM MARATHON_INFO
WHERE MARATHON_NAME LIKE ?
OR LOCATION LIKE ?
OR REGION LIKE ?
AND STATUS='Y'
ORDER BY MARATHON_NO
</entry>
</properties>