<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="insertQuestion">
INSERT INTO QUESTION (QUESTION_ID,MEMBER_NO,QUESTION_TITLE,QUESTION_CONTENT,CREATE_DATE,STATUS)
VALUES(SEQ_QNO.NEXTVAL,?,?,?,SYSDATE,'Y')
</entry>
<entry key="selectQuestion">
SELECT QUESTION_ID,MEMBER_NAME,QUESTION_TITLE,QUESTION_CONTENT,CREATE_DATE
FROM QUESTION q
JOIN MEMBER USING(MEMBER_NO)
WHERE q.STATUS = 'Y'
ORDER BY CREATE_DATE DESC
</entry>
<entry key="insertAnswer">
INSERT INTO Answer (ANSWER_ID,MEMBER_NO,REF_QNO,ANSWER_TITLE,ANSWER_CONTENT,CREATE_DATE,STATUS)
VALUES(SEQ_ANO.NEXTVAL,?,?,?,?,SYSDATE,'Y')
</entry>
<entry key="selectAnswer">
SELECT ANSWER_ID,REF_QNO,MEMBER_NO,MEMBER_NAME,ANSWER_TITLE,ANSWER_CONTENT,CREATE_DATE
FROM ANSWER a
JOIN MEMBER USING(MEMBER_NO)
WHERE REF_QNO = ? 
AND a.STATUS = 'Y'
ORDER BY CREATE_DATE asc
</entry>
<entry key="selectAllAnswer">
SELECT ANSWER_ID,REF_QNO,MEMBER_NAME,ANSWER_TITLE,ANSWER_CONTENT,CREATE_DATE
FROM ANSWER a
JOIN MEMBER USING(MEMBER_NO)
WHERE a.STATUS = 'Y'
ORDER BY CREATE_DATE asc
</entry>
<entry key="deleteAnswer">
UPDATE ANSWER
SET STATUS = 'N'
WHERE ANSWER_ID = ?
</entry>
<entry key="selectRefQno">
SELECT REF_QNO
FROM ANSWER
WHERE ANSWER_ID = ?
</entry>
</properties>