<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectCategoryList">
SELECT TRAINING_KEY, TRAINING_NAME
FROM TRAINING_CATEGORY
</entry>
<entry key="insertTraining">
INSERT INTO TRAINING VALUES(?,?,?,DEFAULT,?,?,?,SYSDATE,?,?,?,?,?,?,'2',?,'Y',DEFAULT)
</entry>

<entry key="increaseCount">
UPDATE TRAINING
SET COUNT = COUNT +1
WHERE TRAINING_NO = ?
AND STATUS = 'Y'
</entry>

<entry key="listCount">
SELECT COUNT(*) COUNT
FROM TRAINING
WHERE STATUS = 'Y'
</entry>

<entry key="selectList">
SELECT * FROM (
SELECT ROWNUM RNUM, S.* 
FROM(SELECT TRAINING_NO,TRAINING_TITLE,MEMBER_NAME,RECORD_DATE,COUNT,OCSTATUS
FROM TRAINING T
JOIN MEMBER M USING(MEMBER_NO)
WHERE T.STATUS = 'Y'
ORDER BY RECORD_DATE DESC)S)
WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectTrainingNo">
SELECT SEQ_TNO.NEXTVAL TNO FROM DUAL
</entry>

<entry key="insertAttachment">
INSERT INTO ATTACHMENT_TRAINING(FILE_NO,REF_BNO,FILE_NAME,FILE_RENAME,FILE_PATH,BOARD_ID)
VALUES(SEQ_ATT.NEXTVAL,?,?,?,?,2)
</entry>

<entry key="selectTraining">
SELECT 
	TRAINING_NO,
	MEMBER_NAME,
	TRAINING_TITLE,
	COUNT,
	TRAINING_NAME,
	SHOES_NO,
	TRAINING_DATE,
	RECORD_DATE,
	TRAINING_PLACE,
	TRAINING_TIME,
	TRAINING_GOAL,
	TRAINING_DISTANCE,
	T.WEIGHT WEIGHT,
	TRAINING_CONTENT,
	OCSTATUS
FROM TRAINING T
JOIN MEMBER M USING(MEMBER_NO) 
JOIN TRAINING_CATEGORY TC ON (T.TRAINING_KEY = TC.TRAINING_KEY)
WHERE TRAINING_NO = ?
AND T.STATUS = 'Y'
</entry>

<entry key="selectAttachment">
SELECT FILE_NO,FILE_NAME,FILE_RENAME,FILE_PATH
FROM ATTACHMENT_TRAINING WHERE REF_BNO = ?
</entry>

<entry key="updateTraining">
UPDATE TRAINING SET TRAINING_TITLE = ? 
					,TRAINING_KEY = ?
					,TRAINING_DATE = ?
					,TRAINING_PLACE = ?
					,TRAINING_TIME = ?
					,TRAINING_GOAL = ?
					,TRAINING_DISTANCE = ?
					,WEIGHT = ?
					,TRAINING_CONTENT = ?
					,OCSTATUS = ?
WHERE TRAINING_NO = ?
</entry>

<entry key="updateAttachment">
UPDATE ATTACHMENT_TRAINING SET FILE_NAME = ? 
                    ,FILE_RENAME = ?
WHERE FILE_NO = ?
</entry>

<entry key="deleteTraining">
UPDATE TRAINING SET STATUS = 'N'
WHERE TRAINING_NO = ?
</entry>

<entry key="insertReply">
INSERT INTO REPLY_TRAINING VALUES(SEQ_RNO.NEXTVAL,?,?,?,SYSDATE,DEFAULT)
</entry>

<entry key="selectReplyList">
SELECT REPLY_NO
	,REPLY_CONTENT
    ,MEMBER_NAME
    ,CREATE_DATE
FROM REPLY_TRAINING R
JOIN MEMBER M ON(R.REPLY_WRITER = M.MEMBER_NO)
WHERE R.REF_TNO = ?
AND R.STATUS = 'Y' 
</entry>

<entry key="deleteReply">
UPDATE REPLY_TRAINING
SET STATUS = 'N'
WHERE REPLY_NO = ?
</entry>

<entry key="updateReply">
UPDATE REPLY_TRAINING
SET REPLY_CONTENT = ?
WHERE REPLY_CONTENT = ?
AND REF_TNO = ?
AND REPLY_WRITER = ?
</entry>

<entry key="updateLikes">
UPDATE TRAINING
SET LIKES = LIKES +1
WHERE TRAINING_NO = ?
</entry>

<entry key="selectLikes">
SELECT LIKES
FROM TRAINING
WHERE TRAINING_NO = ?
</entry>

<entry key="selectShoesList">
SELECT SHOES_NO,SHOES_NAME,STATUS
FROM SHOES
</entry>

<entry key="selectShoes">
SELECT SHOES_NO,SHOES_NAME
FROM SHOES
RIGHT JOIN TRAINING USING(SHOES_NO)
WHERE TRAINING_NO = ?
</entry>

<entry key="searchByTitle">
SELECT * FROM (
SELECT ROWNUM RNUM, S.* 
FROM(SELECT TRAINING_NO,TRAINING_TITLE,MEMBER_NAME,RECORD_DATE,COUNT,OCSTATUS
FROM TRAINING T
JOIN MEMBER M USING(MEMBER_NO)
WHERE T.STATUS = 'Y'
AND TRAINING_TITLE LIKE ?
ORDER BY RECORD_DATE DESC)S)
WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="searchByCategory">
SELECT * FROM (
SELECT ROWNUM RNUM, S.* 
FROM(SELECT TRAINING_NO,TRAINING_TITLE,MEMBER_NAME,RECORD_DATE,COUNT,OCSTATUS
FROM TRAINING T
JOIN MEMBER M ON(T.MEMBER_NO=M.MEMBER_NO)
JOIN TRAINING_CATEGORY TC ON(T.TRAINING_KEY = TC.TRAINING_KEY)
WHERE T.STATUS = 'Y'
AND TC.TRAINING_NAME LIKE ?
ORDER BY RECORD_DATE DESC)S)
WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="searchByContent">
SELECT * FROM (
SELECT ROWNUM RNUM, S.* 
FROM(SELECT TRAINING_NO,TRAINING_TITLE,MEMBER_NAME,RECORD_DATE,COUNT,OCSTATUS
FROM TRAINING T
JOIN MEMBER M ON(T.MEMBER_NO=M.MEMBER_NO)
WHERE T.STATUS = 'Y'
AND T.TRAINING_CONTENT LIKE ?
ORDER BY RECORD_DATE DESC)S)
WHERE RNUM BETWEEN ? AND ?
</entry>
</properties>