<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectCategoryList">
SELECT TRAINING_KEY, TRAINING_NAME
FROM TRAINING_CATEGORY
</entry>
<entry key="insertTraining">
INSERT INTO TRAINING VALUES(SEQ_TNO.NEXTVAL,3,?,DEFAULT,?,1,?,SYSDATE,?,?,?,?,?,?,'2',?,'Y')
</entry>

<entry key="increaseCount">
UPDATE TRAINING
SET COUNT = COUNT +1
WHERE TRAINING_NO = ?
AND STATUS = 'Y'
</entry>

<entry key="listCount">
SELECT COUNT(*) COUNT
FROM TRAINING
WHERE STATUS = 'Y'
</entry>

<entry key="selectList">
SELECT * FROM (
SELECT ROWNUM RNUM, S.* 
FROM(SELECT TRAINING_NO,TRAINING_TITLE,MEMBER_NAME,RECORD_DATE,COUNT
FROM TRAINING T
JOIN MEMBER M USING(MEMBER_NO)
WHERE T.STATUS = 'Y'
AND T.OCSTATUS='O'
ORDER BY RECORD_DATE DESC)S)
WHERE RNUM BETWEEN ? AND ?
</entry>
</properties>