* {
	box-sizing: border-box;
	font-family: "Noto Sans CJK KR";
	font-style: normal;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 670px;
	height: 1800px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	border: 1px solid #aacdff;
	box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
	border-radius: 20px;
}

.member-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 470px;
	height: 1018px;
	margin-top: 72px;
	margin-bottom: 70px;
}

#header {
	width: 466px;
	height: 94px;
	font-weight: 700;
	font-size: 32px;
	line-height: 47px;
	margin-bottom: 50px;
	color: #0068ff;
}

.user-info {
	margin-top: 39px;
}

.user-info div {
	margin-top: 40px;
}

.user-info input {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #797979;
	border: none;
	border-bottom: 1px solid #0068ff;
	width: 466px;
	height: 40px;
	margin-top: 21px;
	outline: none;
}

.user-info select{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #797979;
	border: none;
	border-bottom: 1px solid #0068ff;
	width: 466px;
	height: 40px;
	margin-top: 21px;
	outline: none;
}

#userPno1, #userPno2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #797979;
	border: none;
	border-bottom: 1px solid #0068ff;
	width: 220px;
	height: 40px;
	margin-top: 21px;
}

.user-info-id {
	position: relative;
}

.user-info-id>button {
	position: absolute;
	width: 90px;
	height: 40px;
	top: 0;
	bottom: 0;
	right: 5px;
	margin: auto;
	margin-bottom: 0px;
	margin-right: -5px;
	color: #0068ff;
	border: 1px solid #0068ff;;
	border-radius: 3px;
}

.user-info-address{
	position: relative;
}
.user-info-address>button{
	position: absolute;
	width: 90px;
	height: 40px;
	top: 0;
	bottom: 0;
	right: 5px;
	margin: auto;
	margin-bottom: 0px;
	margin-right: -5px;
	color: #0068ff;
	border: 1px solid #0068ff;;
	border-radius: 3px;
}
#sample6_detailAddress, #sample6_extraAddress{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #797979;
	border: none;
	border-bottom: 1px solid #0068ff;
	width: 232px;
	height: 40px;
	margin-top: 21px;
}

.gender {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 140px;
	height: 23.94px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.gender input {
	width: 20px;
	height: 19.95px;
	background: #ebebeb;
	border: 1px solid #d2d2d2;
}

.gender label {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.agree-check {
	width: 454px;
	height: 21.06px;
	margin-top: 52.05px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

#enroll-btn {
	width: 470px;
	height: 75px;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
	background: #8990a0;
	margin: auto;
	margin-top: 30px;
	display: block;
	border: 1px solid gray;
	border-radius: 10px;
}
#hidden-shoseArea{
	display:none;
	margin-top: -20px;
}