   *{
  box-sizing: border-box;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
    }
    
    .head{
	width: 100%;
	position: absolute;
	}

    .enroll-form{
    width: 800px;
    height: 1400px;
    padding: 60px;
    box-sizing: border-box;
 	border: 1px solid #aacdff;
  	box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    }
    .header {
    line-height: 47px;
    color: #0068ff;
    }
    
    img{
      width: 150px;
      height: 150px;
      margin: auto;
      margin-top: -5%;
      display: block;
    }
    .agree{
      border: 2px solid #aacdff;
      width: 650px;
      height: 200px;
      overflow-y: scroll;
      border-radius: 10px;
    }
    font{
      font-size: 17px;
      font-weight: bolder;
    }
    #enroll-btn{
      width: 470px;
      height: 75px;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      background: #8990a0;
      margin: auto;
      margin-top: 30px;
      display: block;
      border: 1px solid gray;
      border-radius: 10px;
    }